.card__user {
    width: 100%;
    max-width: 18em;
    border-radius: 0.6em;
    background-color: #adbfff;
    color: black; 
    padding: 0.8em;
    transition: transform 150ms linear,
                box-shadow 150ms ease;
    position: relative;
}
.card__user:hover {
    transform: scale(1.03);
    box-shadow: 0 0 1.5em;
}
.card__name {
    font-size: 1.6rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.6em;
    min-height: 2em;
    display: flex;
    align-items: center;
}
.card__list {
    margin-bottom: 2.2em;
    gap: 1.5em;
}
.card__item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 0.9em; 
    margin-left: 0.8em;
    font-size: 1.3rem;
}
.card__label {
    color: rgb(86, 85, 85);
}
.card__delete-btn {
    position: absolute;
    bottom: 0.9em;
    right: 5em;
    height: 2em;
    width: 2.3em;
}
.card__delete-btn:hover {
    filter: brightness(1.2);
}
.card__edit-btn {
    position: absolute;
    bottom: 0.9em;
    right: 2.5em;
    height: 2em;
    width: 2.3em;
}
.card__edit-btn:hover {
    filter: brightness(1.2);
}
