.app {
    background-color: rgb(240,255,255);
    min-height: 100vh;
    margin-top: 0;
}
.app__header-section {
    background-color: azure;
    width: 100%;
    height: 8em;
    margin-top: 0;
    border-color: rgb(41, 41, 41);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}
.app__header-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
}
.app__create-btn {
    width: 13em;
    height: 3.5em;
    background-color: rgb(114, 228, 230);
    color: black;
    border-radius: 0.3em;
    border-color: rgba(0, 0, 0, 0.551);
    font-size: 5rem bolder;
}
.app__create-btn:hover {
    filter: brightness(1.2);
}
.app__title {
    width: 20%;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app__header-separator {
    height: 1em;
    color: black;
    border-color: black;
    height: 1.5px;
    z-index: 2;
}
.app__userCard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding-bottom: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    position: relative;
    top: 160px;
}


@media only screen and (max-width: 780px) {
    .app__header-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        padding-top: 1em;
        padding-left: 4em;
        padding-right: 4em;
    }

    .app__create-btn {
        width: 70%;
        height: 3em;
        margin-top: 1em;
    }

    .app__title {
        width: 100%;
        font-size: 2em;
        text-align: center;
        margin-top: 1em;
    }

    .app__header-separator {
        display: none; /* or adjust as needed */
    }

    .app__userCard-container {
        top: 160px; /* Adjust the positioning as needed */
    }
}
